.helmet {
  align-items: center;
  background-color: var(--helmet-background-color);
  border: 1px dashed #d23677;
  color: var(--helmet-color);
  display: var(--helmet-display);
  font-family: var(--font-copy-main-family);
  font-size: var(--font-copy-main-size);
  justify-content: space-between;
  padding: 0.75em;

  button {
    align-items: center;
    border-width: 1px;
    height: 3em;
    justify-content: center;
    width: 3em;
  }
}

.account {
  display: none;

  @media (min-width: 500px) {
    display: flex;
  }
}

.search {
  display: none;

  @media (min-width: 500px) {
    display: flex;
  }
}
